<mat-spinner *ngIf="loading"></mat-spinner>
<div class="cards">

    <mat-card *ngFor="let movie of movies;">
        <img src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>
        <button mat-raised-button color="accent">{{movie.Genre.Name}}</button>
        <button mat-raised-button color="accent">Director</button>
        <button mat-raised-button color="accent">Synopsis</button>
        </mat-card-actions>
            <mat-icon color="accent">favorite_border</mat-icon>
            </mat-card>
    
</div>