
img {
    width: 250px;
height: 350px;
    object-fit: contain;
}
mat-card-title {
    height: 40px;
}

mat-card {
    background-color: rgb(232, 232, 232);
        color: rgb(0, 0, 0);
        margin: 10px;
    }

button {
    color: white;
}

.buttons {
    display: flex;
}

mat-card-actions {

    display: flex;

}