<app-navbar></app-navbar>
<mat-card class="Profile">
    <mat-card-content class="profile-dialog-content">
        <form>
            <mat-card-title>Your User Profile</mat-card-title>
            <mat-card-content>Username: {{user.Username}}</mat-card-content>
            <mat-card-content>Email: {{user.Email}}</mat-card-content>
            <mat-card-content *ngIf=(user.Birthday)>Birthday: {{user.Birthday | date: 'dd/MM/YYYY'}}</mat-card-content>
    <mat-card-header>
        <mat-card-title>Edit your profile information <span class="required"> * = Required</span></mat-card-title>
    </mat-card-header>
            </form>
            </mat-card-content>
            <mat-card-content class="edit-profile-dialog-content">
                <form>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Username" placeholder="Username*" type="text" name="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Password" placeholder="Password*" type="password" name="Password">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Email" placeholder="Email*" type="email" name="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday" type="date" name="Birthday">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="edit-profile-actions">
        <button mat-raised-button (click)="editUser()" color="red">
            Update your details
        </button>
        <button mat-raised-button (click)="backToMovies()" color="red">
            Back To Movies
        </button>
    </mat-card-actions>
</mat-card>